@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.header {
  /* max-width: 1440px; */
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #ddd; */
}

.header-logo {
  width: 240px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.header-logo.hidden {
  margin-left: -240px;
}

.header-logo svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.header-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
}

.header-nav-left {
  display: flex;
  align-items: center;
  width: 40%;
}

.nav-icon {
  cursor: pointer;
  margin-right: 16px;
}

.nav-icon i {
  font-size: 24px;
  color: #202224;
}

.search {
  /* width: 388px; */
  position: relative;
  flex-grow: 1;
}

.search input {
  width: 100%;
  height: 38px;
  border-radius: 19px;
  border: 0.6px;
  background-color: #f5f6fa;
  padding-left: 40px;
  border: 0.6px solid #d5d5d5;
}

.search-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 16;
}

.search-icon i {
  opacity: 0.5;
}

.header-nav-right {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.notification {
  position: relative;
  width: 24px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.notification i {
  font-size: 24px;
  color: #4880ff;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  z-index: 20;
}

.language {
  display: flex;
  align-items: center;
  /* column-gap: 16px; */
  transition: all 0.3s ease;
}

.language-logo {
  width: 40px;
  height: 28px;
  border-radius: 5px;
}

.language-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.language-drop {
  position: relative;
  background-color: #fff;
}

.selected-language {
  cursor: pointer;
  padding-left: 16px;
  background-color: #fff;
  color: #646464;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  width: 100px;
}

.language-options {
  display: none; /* Ẩn các tùy chọn ban đầu */
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 9px 40px 0px #0000001b;
  width: 230px;
  top: 40px;
  right: -40%;
  z-index: 1;
  border-radius: 14px;
}

.language-opt-title {
  padding-left: 20px;
  width: 100%;
  height: 48px;
  color: #404040;
  font-size: 15px;
  line-height: 1.36;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #979797;
}

.language-option {
  position: relative;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 60px;
}

.language-option .mark {
  display: none;
  color: green;
  font-size: 18px;
  position: absolute;
  right: 20px; /* Vị trí bên phải */
}

.language-option.selected .mark {
  display: block;
}

.language-option-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  color: #404040;
}

.language-option-img {
  width: 44px;
  height: 33px;
}

.language-option-img img {
  display: block;
  width: 100%;
  height: 100%;
}

.language-option:hover {
  background-color: #f1f1f1;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

/* Hiển thị dropdown khi click */
.language-drop.active .language-options {
  display: block;
}

.language-drop-icon {
  display: flex;
  align-items: center;
  color: #646464;
  font-size: 10px;
}

.info {
  display: flex;
  align-items: center;
  column-gap: 16px;
  cursor: pointer;
}

.info-logo {
  width: 44px;
  height: 44px;
}

.info-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  color: #404040;
}

.info-role {
  color: #565656;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.36;
}

.info-dropdown {
  width: 18px;
  height: 18px;
}

.info-dropdown i {
  font-size: 18px;
  background-color: #fff;
}

.aside {
  width: 240px;
  transition: all 0.3s ease;
  /* border-right: 1px solid #ddd; */
  /* height: 100vh; */
  /* overflow-y: auto; */
}

.aside.hidden {
  width: 90px;
  /* transform: translateX(-100%); */
  transition: all 0.3s ease;
  /* margin-left: -240px; */
}

.aside-item.hidden p {
  display: none;
}

.aside-first {
  padding: 5px 0 16px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
}

.aside-second {
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.aside-third {
  padding-top: 16px;
}

.aside-item {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
}

.aside-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #4880ff;
  border-radius: 4px;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.aside-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  height: 100%;
  background-color: #4880ff;
  z-index: 0;
  opacity: 0;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.aside-item:hover::before,
.aside-item:hover::after {
  opacity: 1;
}

.aside-item.selected::before,
.aside-item.selected::after {
  opacity: 1;
}

.aside-item:hover p,
.aside-item.selected p {
  color: #fff;
}

.aside-item:hover i,
.aside-item.selected i {
  color: #fff;
}

.aside-icon {
  width: 22px;
  height: 25px;
  z-index: 1;
}

.aside-icon i {
  font-size: 22px;
  align-items: center;
  color: #202224;
}

.aside-item p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.364;
  color: #202224;
  z-index: 1;
}

.aside-title {
  margin-left: 40px;
  color: #202224;
  font-size: 12px;
  line-height: 1.364;
  opacity: 60%;
  font-weight: 700;
  margin-bottom: 16px;
}

.main {
  flex: 1;
  background-color: #f5f6fa;
}

.main-content {
  margin: 30px;
}

.main-content p {
  color: #202224;
  font-size: clamp(20px, calc(2vw + 1rem), 32px);
  line-height: 1.364;
  font-weight: 700;
}

.slider {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 16px;
  transition: all 0.3s ease;
}

.slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3 ease;
}

.prev,
.next {
  position: absolute;
  width: 41px;
  height: 41px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f4f4f4;
  top: 50%; /* Căn giữa theo chiều dọc */
  transform: translateY(-50%); /* Căn giữa hoàn hảo */
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev.hidden,
.next.hidden {
  display: none;
}

.slider button i {
  font-size: 12px;
  color: #363636;
}

.list-products {
  margin: 30px auto;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.product-item {
  width: calc(calc(100% / 3) - 20px);
  height: auto;
  border-radius: 16px;
  background-color: #fff;
}

.item-image {
  position: relative;
  /* height: 350px; */
  aspect-ratio: 4/3;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.item-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.item-image:hover img {
  border-radius: 16px 16px 0 0;
  transform: scale(1.05);
}

.prev-img,
.next-img {
  position: absolute;
  width: 41px;
  height: 41px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e2eaf8;
  opacity: 0.5;
  top: 50%; /* Căn giữa theo chiều dọc */
  transform: translateY(-50%); /* Căn giữa hoàn hảo */
}

.prev-img {
  left: 20px;
}

.next-img {
  right: 20px;
}

.prev-img i,
.next-img i {
  color: #626262;
}

.item-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.item-info .item-title {
  color: #202224;
  font-size: clamp(12px, calc(2vw + 1rem), 18px);
  line-height: 1.11;
  font-weight: 700;
}

.item-info .item-price {
  margin-top: 10px;
  color: #4880ff;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

.item-info .item-rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.item-info .rating-count {
  opacity: 0.4;
  font-size: 14px;
  line-height: 1.36;
  font-weight: 600;
}

.edit-item {
  margin-top: 20px;
  background-color: #e2eaf8;
  color: #202224;
  font-size: 14px;
  line-height: 2;
  font-weight: 700;
  border-radius: 10px;
  padding: 6px 24px;
  cursor: pointer;
}

.edit-item:hover {
  background-color: #4880ff;
  color: #fff;
}

.item-favorite {
  background-color: #f9f9f9;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.item-favorite i {
  font-size: 20px;
}

.item-favorite:hover i {
  color: #f93c65;
}

@media screen and (max-width: 1023.98px) {
  .item-info .item-rating {
    column-gap: 4px;
  }

  .item-info .rating-count {
    font-size: 13px;
  }
}

@media screen and (max-width: 991.98px) {
  .search input {
    height: 32px;
  }
  .notification {
    margin-left: 16px;
    width: 16px;
    height: 18px;
  }

  .notification i {
    font-size: 18px;
    color: #4880ff;
  }

  .badge {
    width: 12px;
    height: 12px;
    font-size: 10px;
  }

  .language-logo {
    width: 32px;
    height: 22px;
    border-radius: 5px;
  }

  .selected-language {
    padding-left: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.36;
    width: 70px;
  }

  .language-options {
    width: 200px;
    top: 40px;
    right: -40%;
    z-index: 1;
    border-radius: 14px;
  }

  .language-opt-title {
    padding-left: 20px;
    font-size: 13px;
  }

  .language-option {
    gap: 10px;
  }

  .language-option .mark {
    font-size: 14px;
  }

  .language-option-name {
    font-size: 12px;
  }

  .language-option-img {
    width: 34px;
    height: 26px;
  }

  .info {
    column-gap: 8px;
  }

  .info-logo {
    width: 35px;
    height: 35px;
  }

  .info-name {
    font-size: 13px;
  }

  .info-role {
    font-size: 11px;
  }

  .info-dropdown {
    width: 14px;
    height: 14px;
  }

  .info-dropdown i {
    font-size: 16px;
  }

  .slider {
    margin: 20px auto;
    height: 300px;
  }

  .list-products {
    margin: 20px auto;
    gap: 20px;
  }

  .product-item {
    width: calc(calc(100% / 2) - calc(20px * 2 / 3));
  }
}

@media screen and (max-width: 767.98px) {
  .header-logo {
    margin-left: -240px;
  }
  .aside {
    width: 90px;
  }
  .aside-item p {
    display: none !important;
  }

  .item-info .item-title {
    font-size: 16px;
  }

  .item-info .item-price {
    font-size: 14px;
  }

  .item-info .item-rating svg {
    width: 14px;
    height: 14px;
  }

  .item-info .rating-count {
    font-size: 13px;
  }

  .edit-item {
    font-size: 13px;
    padding: 4px 20px;
  }
}

@media screen and (max-width: 575.98px) {
  .slider {
    height: 250px;
  }

  .list-products {
    margin: 20px auto;
    gap: 20px;
  }

  .product-item {
    width: 100%;
    aspect-ratio: 1;
  }
}
